<!-- <div class="container-lg-10" style="display: flex; align-items: center; justify-content: center;">
    <div class="col-lg-10 grid-margin stretch-card"> -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title"><b>Gastos</b></h4>
        <h5 style="float: left;margin-top: 18px;margin-right: 8px;font-weight: bold;">Presupuesto: {{cycle.presupuesto |
            currency: 'CLP':"$"}}</h5>
        <h5 style="float: left;margin-top: 18px;font-weight: bold;">Total gastado: {{totalCost | currency: 'CLP':"$"}}
        </h5>
        <button type="button" style="float: right; margin: 8px;"
            class="btn btn-gradient-info btn-rounded btn-sm export-pdf" (click)="openModal(ModalListCostPerDate)"
            style="float: right; margin: 8px;" *ngIf="costs.length != 0">Exportar a PDF <i
                class="fa-solid fa-file-pdf"></i></button>
        <button type="button" style="float: right; margin: 8px;" class="btn btn-gradient-info btn-rounded btn-sm"
            (click)="openModal(ModalContent);clearForm()">Crear
            gasto</button>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <!-- <select class="custom-select" id="cycle" (change)="chargeForCycle($event.target.value)" style="width: 100px;">
                <option *ngFor="let cycle of cycles" [value]="cycle.id">
                    {{cycle.nombre}}</option>
            </select> -->
        </div>
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped"
                style="text-align: center;">
                <thead class="table table-bordered">
                    <tr>
                        <th>
                            <b>Fecha</b>
                        </th>
                        <th>
                            <b>Valor Total</b>
                        </th>
                        <th>
                            <b>Actividad/Competencia</b>
                        </th>
                        <th>
                            <b>Acciones</b>
                        </th>
                    </tr>
                </thead>
                <tbody class="table table-bordered">
                    <tr *ngFor="let cost of costs">
                        <td>
                            {{cost.fecha | date:"dd-MM-yyyy"}}
                        </td>
                        <td>
                            {{cost.valor | currency: 'CLP'}}
                        </td>
                        <td *ngIf="cost.actividad == null&&cost.competencia == null">
                            No aplica
                        </td>
                        <td *ngIf="cost.actividad &&cost.competencia">
                            {{cost.actividad.nombre}}/{{cost.competencia.tipo}}
                        </td>
                        <td *ngIf="cost.actividad && cost.competencia == null">
                            {{cost.actividad.nombre}}
                        </td>
                        <td *ngIf="cost.competencia && cost.actividad == null">
                            {{cost.competencia.tipo}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-gradient-success btn-rounded btn-sm"
                                (click)="openModal(ModalContentDetails);setCost(cost)" title="Ver detalles"><i
                                    class="mdi mdi-eye"></i></button>
                            <button type="button" class="btn btn-gradient-info btn-rounded btn-sm"
                                (click)="openModal(ModalContentEdit);setCost(cost)" title="Editar gastos"><i
                                    class="mdi mdi-grease-pencil"></i></button>
                            <button type="button" class="btn btn-gradient-danger btn-rounded btn-sm"
                                (click)="deleteCost(cost.id);setCost(cost)" title="Eliminar gastos"><i
                                    class="mdi mdi-delete"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- </div>
</div> -->
<!-- Modal Details starts -->
<ng-template class="modal fade" #ModalContentDetails let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Detalles</h4>
                        <div class="table-responsive">
                            <table class="table table-striped" style="text-align: center;">
                                <thead class="table table-bordered">
                                    <tr>
                                        <th>
                                            <b>Nombre</b>
                                        </th>
                                        <th>
                                            <b>Valor</b>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="table table-bordered">
                                    <tr *ngFor="let detail of detailsList">
                                        <td>
                                            {{detail.nombre}}
                                        </td>
                                        <td>
                                            {{detail.valor | currency: 'CLP':"$"}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close()">Cancelar</button>
        </div>
    </div>
</ng-template>
<!-- Modal Details Ends -->

<!-- Modal Create starts -->
<ng-template class="modal fade" #ModalContent let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss();clearForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body" [formGroup]="costsFormCreate">
                        <h4 class="card-title">Crear Gasto {{cycle.nombre}}</h4>
                        <button type="button" class="btn btn-gradient-success btn-rounded btn-sm"
                            (click)="openModal(ModalListStudentPerDatesAndCycle);" style="float: right; margin: 8px;"><i
                                class="fa-solid fa-users-line"></i>Ver Asistencias</button>
                        <p class="card-description">
                            Ingrese los campos para la creacion del gasto.
                        </p>
                        <div class="form-group">
                            <label for="date">Fecha</label>
                            <input style="width: 50%;" type="date" class="form-control" id="date"
                                placeholder="aaaa-mm-dd" formControlName="date">
                        </div>
                        <div class="form-group" *ngIf="activities.length >= 1">
                            <label for="activity">Actividad</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="activity">
                                    <option [ngValue]="null">Seleccione una actividad</option>
                                    <option *ngFor="let activity of activities" [value]="activity.id">
                                        {{activity.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="competencies.length >= 1">
                            <label for="competition">Competencia</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="competition">
                                    <option [ngValue]="null">Seleccione una competencia</option>
                                    <option *ngFor="let competition of competencies" [value]="competition.id">
                                        {{competition.tipo}}</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-info" (click)="addDetail()">Agregar detalle</button>
                        </div>
                        <br>
                        <ng-container formArrayName="details">
                            <ng-container *ngFor=" let detailFormGroup of details.controls; let i = index">
                                <div [formGroupName]="i">
                                    <div>
                                        <label for="name">Nombre</label>
                                        <input type="text" class="form-control" id="name" placeholder="Nombre"
                                            formControlName="name">
                                    </div>
                                    <div>
                                        <label for="priceDetail">Valor</label>
                                        <input type="number" class="form-control" id="priceDetail" placeholder="$"
                                            formControlName="priceDetail">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger" (click)="removeDetail(i)">Eliminar
                                            detalle</button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success"
                (click)="createCosts(costsFormCreate.value, modal)">Crear</button>
            <button type="button" class="btn btn-light" data-dismiss="modal"
                (click)="modal.close();clearForm()">Cancelar</button>
        </div>
    </div>
</ng-template>
<!-- Modal Create Ends -->

<!-- Modal Edit starts -->
<ng-template class="modal fade" #ModalContentEdit let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body" [formGroup]="costsFormCreate">
                        <h4 class="card-title">Editar Gasto</h4>
                        <p class="card-description">
                            Ingrese los campos para la creacion del gasto.
                        </p>
                        <div class="form-group">
                            <label for="date">Fecha</label>
                            <input style="width: 50%;" type="date" class="form-control" id="date"
                                placeholder="aaaa-mm-dd" formControlName="date">
                        </div>
                        <div class="form-group" *ngIf="activities.length >= 1">
                            <label for="activity">Actividad</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="activity">
                                    <option [ngValue]="null">Seleccione una actividad</option>
                                    <option *ngFor="let activity of activities" [value]="activity.id">
                                        {{activity.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="competencies.length >= 1">
                            <label for="competition">Competencia</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="competition">
                                    <option [ngValue]="null">Seleccione una competencia</option>
                                    <option *ngFor="let competition of competencies" [value]="competition.id">
                                        {{competition.tipo}}</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-info" (click)="addDetail()">Agregar detalle</button>
                        </div>
                        <br>
                        <ng-container formArrayName="details">
                            <ng-container *ngFor=" let detailFormGroup of details.controls; let i = index">
                                <div [formGroupName]="i">
                                    <div>
                                        <label for="name">Nombre</label>
                                        <input type="text" class="form-control" id="name" placeholder="Nombre"
                                            formControlName="name">
                                    </div>
                                    <div class="form-group" style="display: none">
                                        <input type="text" class="form-control" id="id" formControlName="id">
                                    </div>
                                    <div>
                                        <label for="priceDetail">Valor</label>
                                        <input type="number" class="form-control" id="priceDetail" placeholder="$"
                                            formControlName="priceDetail">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger" (click)="removeDetail(i)">Eliminar
                                            detalle</button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success"
                (click)="editCost(costsFormCreate.value, modal)">Editar</button>
            <button type="button" class="btn btn-light" data-dismiss="modal"
                (click)="modal.close();clearForm()">Cancelar</button>
        </div>
    </div>
</ng-template>
<!-- Modal Edit starts -->

<!-- Modal ListStudentPerDatesAndCycle starts -->
<ng-template class="modal fade" #ModalListStudentPerDatesAndCycle let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss();clearForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ver asistencia</h4>
                        <p class="card-description">
                            Seleccione el rango de fecha para buscar
                        </p>
                        <form class="forms-sample"
                            style="float: left; display: flex; justify-content: rigth;flex-wrap: wrap;">
                            <div class="form-group">
                                <label for="start_date" style="display: inline-block; margin-bottom: 8px;">Fecha
                                    inicio</label>
                                <input type="date" class="form-control" id="start_date" max={{cycle.fecha_termino}}
                                    min={{cycle.fecha_inicio}}
                                    style="width: 150px;display:flex; justify-content:flex-start;" #start_date>
                            </div>
                            <div class="form-group">
                                <label for="finish_date" style="display: inline-block; margin-bottom: 8px">Fecha
                                    final</label>
                                <input type="date" class="form-control" id="finish_date" max={{cycle.fecha_termino}}
                                    min={{cycle.fecha_inicio}}
                                    style="width: 150px; display:flex; justify-content:flex-start;margin-left: 8px;"
                                    #finish_date>
                            </div>
                            <label style="display: inline-block; margin-bottom: 8px"></label>
                            <button type="button" class="btn btn-gradient-success btn-rounded btn-sm btn-see"
                                (click)="seeAsistance(start_date.value, finish_date.value)"
                                style="height: 40px;margin-left: 4px;margin-top: 16px;"> <i
                                    class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                        <br>
                        <div *ngIf="contentSee == 1">
                            <div *ngIf="students.length == 0" style="text-align: center;font-weight:bold;">
                                NO HAY ALUMNOS CON ASISTENCIAS REGISTRADAS
                            </div>
                            <div *ngIf="students.length >= 1">
                                <div class="table-responsive">
                                    <table class="table table-striped" style="text-align: center;">
                                        <thead class="table table-bordered">
                                            <tr>
                                                <th>
                                                    <b>Rut</b>
                                                </th>
                                                <th>
                                                    <b>Nombre</b>
                                                </th>
                                                <th>
                                                    <b>Apellidos</b>
                                                </th>
                                                <th>
                                                    <b>Porcentaje de asistencia</b>
                                                </th>
                                                <th>
                                                    <b>Asistencias</b>
                                                </th>
                                                <th>
                                                    <b>Inasistencias</b>
                                                </th>
                                                <th>
                                                    <b>Total Clases</b>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="table table-bordered">
                                            <tr *ngFor="let student of students">
                                                <td>
                                                    {{student.rut}}
                                                </td>
                                                <td>
                                                    {{student.nombre}}
                                                </td>
                                                <td>
                                                    {{student.apellidos}}
                                                </td>
                                                <td *ngIf="student.PorcentajeAsistencia <=30" style="color: red;">
                                                    {{student.PorcentajeAsistencia}}%
                                                </td>
                                                <td *ngIf="student.PorcentajeAsistencia >30 && student.PorcentajeAsistencia<=50"
                                                    style="color: yellow;">
                                                    {{student.PorcentajeAsistencia}}%
                                                </td>
                                                <td *ngIf="student.PorcentajeAsistencia >50 && student.PorcentajeAsistencia <=70"
                                                    style="color: yellowgreen;">
                                                    {{student.PorcentajeAsistencia}}%
                                                </td>
                                                <td *ngIf="student.PorcentajeAsistencia >70" style="color: green;">
                                                    {{student.PorcentajeAsistencia}}%
                                                </td>
                                                <td>
                                                    {{student.CantAsistenciasEInasistencias[0].asistencias}}
                                                </td>
                                                <td>
                                                    {{student.CantAsistenciasEInasistencias[0].inasistencias}}
                                                </td>
                                                <td>
                                                    {{student.Asistencias.length}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- Modal ListStudentPerDatesAndCycle starts -->

<!-- Modal ListStudentPerDatesAndCycle starts -->
<ng-template class="modal fade" #ModalListCostPerDate let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss();deletePdf()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Exportar gastos</h4>
                        <p class="card-description">
                            Seleccione el rango de fecha para exportar gastos.
                        </p>
                        <form class="forms-sample"
                            style="float: left; display: flex; justify-content: rigth;flex-wrap: wrap;">
                            <div class="form-group">
                                <label for="start_date" style="display: inline-block; margin-bottom: 8px;">Fecha
                                    inicio</label>
                                <input type="date" class="form-control" id="start_date" max={{cycle.fecha_termino}}
                                    min={{cycle.fecha_inicio}}
                                    style="width: 150px;display:flex; justify-content:flex-start;" #start_date>
                            </div>
                            <div class="form-group">
                                <label for="finish_date" style="display: inline-block; margin-bottom: 8px">Fecha
                                    final</label>
                                <input type="date" class="form-control" id="finish_date" max={{cycle.fecha_termino}}
                                    min={{cycle.fecha_inicio}}
                                    style="width: 150px; display:flex; justify-content:flex-start;margin-left: 8px;"
                                    #finish_date>
                            </div>
                            <label style="display: inline-block; margin-bottom: 8px"></label>
                            <button type="button" class="btn btn-gradient-success btn-rounded btn-sm btn-see"
                                (click)="getCostPerDateAndCycle(start_date.value, finish_date.value)"
                                style="height: 40px;margin-left: 4px;margin-top: 16px;"> <i
                                    class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                        <div *ngIf="contentSee == 1">
                            <div>
                                <div *ngIf="costsExport.length == 0" style="text-align: center;font-weight:bold;">
                                    NO HAY ALUMNOS CON ASISTENCIAS REGISTRADAS
                                </div>
                                <br>
                                <div *ngIf="costsExport.length >= 1">
                                    <div>
                                        <div class="table-responsive">
                                            <table class="table table-striped" style="text-align: center;"
                                                style="background-color: transparent;border: transparent;">
                                                <thead class="table table-bordered"
                                                    style="background-color: transparent;border: transparent;">
                                                    <tr>
                                                        <th class="thGastos">
                                                            <h5 style="font-weight: bold;">Total Gastado: {{total |
                                                                currency: 'CLP':"$"}}</h5>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <br>
                                            </table>
                                        </div>
                                    </div>
                                    <div>
                                        <div *ngFor="let cost of costsExport">
                                            <div class="table-responsive">
                                                <thead class="table table-bordered">
                                                    <tr>
                                                        <th style="border: transparent;">Fecha: {{cost.fecha|
                                                            date:"dd-MM-yyyy"}}</th>
                                                        <th *ngIf="cost.actividad == null&&cost.competencia == null"
                                                            class="thGastos">
                                                            No asociado.
                                                        </th>
                                                        <th *ngIf="cost.actividad &&cost.competencia" class="thGastos">
                                                            Asociado con la Actividad: {{cost.actividad.nombre}} y
                                                            Competencia:
                                                            {{cost.competencia.tipo}}
                                                        </th>
                                                        <th *ngIf="cost.actividad && cost.competencia == null"
                                                            class="thGastos">
                                                            Asociado con la Actividad: {{cost.actividad.nombre}}
                                                        </th>
                                                        <th *ngIf="cost.competencia && cost.actividad == null"
                                                            class="thGastos">
                                                            Asociado con la Competencia: {{cost.competencia.tipo}}
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <table class="table table-striped" style="text-align: center;"
                                                    style="background-color: transparent;">

                                                    <thead class="table table-bordered">
                                                        <tr>

                                                            <th>
                                                                <b>Nombre Detalle</b>
                                                            </th>
                                                            <th>
                                                                <b>Valor</b>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table table-bordered">
                                                        <tr *ngFor="let detail of cost.detalles">
                                                            <td>
                                                                {{detail.nombre}}
                                                            </td>
                                                            <td>
                                                                {{detail.valor | currency: 'CLP':"$"}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <td style="font-weight: bold;text-align: right;">TOTAL:</td>
                                                    <td style="border: 1px solid #ebedf2;">{{cost.valor | currency:
                                                        'CLP':"$" }}
                                                    </td>
                                                    <br>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-content-center" *ngIf="spinnerSee == true"
                style="float: right;padding-top: 10px;">
                <div class="spinner-border text-success" role="status">
                </div>
                <span style="padding-top: 7px;padding-left: 6px;">Generando documento, espere
                    porfavor.</span>
            </div>
            <button type="button" class="btn btn-success" (click)="exportPdf(modal)">Exportar</button>
            <button type="button" class="btn btn-light" data-dismiss="modal"
                (click)="modal.close();deletePdf()">Cancelar</button>
        </div>
    </div>
</ng-template>
<!-- Modal ListStudentPerDatesAndCycle starts -->