.btn-see{
    background: rgb(16,201,24) !important;
    background: linear-gradient(90deg, rgba(16,201,24,1) 0%, rgba(50,223,59,1) 100%) !important;
  }

  .thGastos{
    border: transparent;
    font-weight: bold !important;
  }

  .export-pdf {
    background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
}