<!-- <div class="container-lg-10" style="display: flex; align-items: center; justify-content: center;">
  <div class="col-lg-10 grid-margin stretch-card"> -->
<div class="card">
  <div class="card-body">
    <h4 class="card-title"><b>Mantenedor Establecimientos</b></h4>
    <button type="button" style="float: right; margin: 8px;" class="btn btn-gradient-info btn-rounded btn-sm"
      (click)="openModal(ModalContent)">Registrar establecimiento</button>
    <!-- <button type="button" style="float: right; margin: 8px;" class="btn btn-gradient-info btn-rounded btn-sm sendMails"
      (click)="openModal(EmailModal)" title="Enviar mensaje"><i class="mdi mdi-email"></i></button> -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
      </div>
    </div>
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped"
        style="text-align: center;">
        <thead class="table table-bordered">
          <tr>
            <th>
              <b>Nombre del establecimiento</b>
            </th>
            <th>
              <b>Profesor encargado</b>
            </th>
            <th>
              <b>Contacto</b>
            </th>
            <th>
              <b>Acción</b>
            </th>
          </tr>
        </thead>
        <tbody class="table table-bordered">
          <tr *ngFor="let establishment of establishments">
            <td>
              <button type="button" class="btn" (click)="openModal(ModalInformation);setEstablishment(establishment);"
                style="border: transparent;background: transparent;width: 200px;">{{establishment.nombre}}</button>
            </td>
            <td>
              <button type="button" class="btn" (click)="openModal(ModalInformation);setEstablishment(establishment);"
                style="border: transparent;background: transparent;width: 200px;">{{establishment.nombre_profesor}}</button>
            </td>
            <td>
              <button type="button" class="btn" (click)="openModal(ModalInformation);setEstablishment(establishment);"
                style="border: transparent;background: transparent;width: 200px;">{{establishment.email_profesor}}</button>
            </td>
            <td>
              <button type="button" class="btn btn-gradient-info btn-rounded btn-sm"
                (click)="openModal(ModalContentEdit);setEstablishment(establishment)" title="Editar establecimiento"><i
                  class="mdi mdi-grease-pencil"></i></button>
              <button type="button" class="btn btn-gradient-danger btn-rounded btn-sm"
                (click)="deleteEstablishment(establishment.id)" title="Eliminar establecimiento"><i
                  class="mdi mdi-delete"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- </div>
      </div> -->

<!-- Modal Create starts -->
<ng-template class="modal fade" #ModalContent let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Registrar establecimiento</h4>
            <p class="card-description">
              Ingrese los campos para el registro del establecimiento.
            </p>
            <form class="forms-sample">
              <div class="form-group">
                <label for="establishmentName">Nombre del establecimiento</label>
                <input type="text" class="form-control" id="establishmentName" placeholder="Nombre del establecimiento"
                  #establishmentName>
              </div>
              <div class="form-group">
                <label for="director">Director del establecimiento</label>
                <input type="text" class="form-control" id="director" placeholder="Nombre del director" #director>
              </div>
              <div class="form-group">
                <label for="establishmentAddress">Dirección del establecimiento</label>
                <input type="text" class="form-control" id="establishmentAddress" placeholder="Dirección"
                  #establishmentAddress>
              </div>
              <div class="form-group">
                <label for="establishmentEmail">Correo del establecimiento</label>
                <input type="email" class="form-control" id="establishmentEmail" placeholder="Ejemplo: email@correo.com"
                  #establishmentEmail>
              </div>
              <div class="form-group">
                <label for="establishmentPhoneNumber">Teléfono del establecimiento</label>
                <input type="number" class="form-control" id="establishmentPhoneNumber" placeholder="+569"
                  #establishmentPhoneNumber>
              </div>
              <div class="form-group">
                <label for="teacherName">Profesor encargado</label>
                <input type="text" class="form-control" id="teacherName" placeholder="Nombre del profesor encargado"
                  #teacherName>
              </div>
              <div class="form-group">
                <label for="teacherEmail">Correo del profesor encargado</label>
                <input type="email" class="form-control" id="teacherEmail" placeholder="Ejemplo: email@correo.com"
                  #teacherEmail>
              </div>
              <div class="form-group">
                <label for="teacherPhoneNumber">Teléfono del profesor encargado</label>
                <input type="number" class="form-control" id="teacherPhoneNumber" placeholder="+569"
                  #teacherPhoneNumber>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success"
        (click)="establishmentFormCreate(establishmentName.value, director.value, establishmentAddress.value, teacherPhoneNumber.value, teacherEmail.value, teacherName.value, establishmentEmail.value, establishmentPhoneNumber.value, modal)">Crear</button>
      <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close()">Cancelar</button>
    </div>
  </div>
</ng-template>
<!-- Modal Create Ends -->

<!-- Modal Edit starts -->
<ng-template class="modal fade" #ModalContentEdit let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Editar establecimiento</h4>
            <p class="card-description">
              Ingrese los campos para la modificacion del establecimiento.
            </p>
            <form class="forms-sample" #f="ngForm">
              <div class="form-group">
                <label for="establishmentName">Nombre del establecimiento</label>
                <input type="text" class="form-control" id="establishmentName" [(ngModel)]="establishment.nombre"
                  name="establishmentName" #establishmentName="ngModel">
              </div>
              <div class="form-group">
                <label for="director">Director del establecimiento</label>
                <input type="text" class="form-control" id="director" [(ngModel)]="establishment.director"
                  name="director" #director="ngModel">
              </div>
              <div class="form-group">
                <label for="establishmentAddress">Dirección del establecimiento</label>
                <input type="text" class="form-control" id="establishmentAddress" [(ngModel)]="establishment.direccion"
                  name="establishmentAddress" #establishmentAddress="ngModel">
              </div>
              <div class="form-group">
                <label for="establishmentEmail">Correo del establecimiento</label>
                <input type="email" class="form-control" id="establishmentEmail" [(ngModel)]="establishment.email"
                  name="establishmentEmail" #establishmentEmail="ngModel">
              </div>
              <div class="form-group">
                <label for="establishmentPhoneNumber">Teléfono del establecimiento</label>
                <input type="number" class="form-control" id="establishmentPhoneNumber"
                  [(ngModel)]="establishment.telefono" name="establishmentPhoneNumber"
                  #establishmentPhoneNumber="ngModel">
              </div>
              <div class="form-group">
                <label for="teacherName">Profesor encargado</label>
                <input type="text" class="form-control" id="teacherName" [(ngModel)]="establishment.nombre_profesor"
                  name="teacherName" #teacherName="ngModel">
              </div>
              <div class="form-group">
                <label for="teacherEmail">Correo del profesor encargado</label>
                <input type="email" class="form-control" id="teacherEmail" [(ngModel)]="establishment.email_profesor"
                  name="teacherEmail" #teacherEmail="ngModel">
              </div>
              <div class="form-group">
                <label for="teacherPhoneNumber">Teléfono del profesor encargado</label>
                <input type="number" class="form-control" id="teacherPhoneNumber"
                  [(ngModel)]="establishment.telefono_profesor" name="teacherPhoneNumber" #teacherPhoneNumber="ngModel">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="establishmentFormEdit(f, modal)">Editar</button>
      <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close()">Cancelar</button>
    </div>
  </div>
</ng-template>
<!-- Modal Edit Ends -->

<!-- Modal Mail starts -->
<ng-template class="modal fade" #EmailModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card" style="text-align: center">Enviar mensaje</h4>
            <p class="card-description">
              Ingrese los campos para enviar un mensaje a los establecimientos.
              Si desea enviar una invitacion masiva, llene el campo formulario con un formulario Google.
            </p>
            <form class="forms-sample">
              <div class="form-group">
                <input type="email" class="form-control to" id="to"
                  placeholder="Destinatarios (No incluidos en la lista de emails de establecimientos)" #to>
              </div>
              <div class="form-group">
                <input type="text" class="form-control subject" id="subject" placeholder="Asunto (*)" size="6" #subject>
              </div>
              <div class="form-group">
                <textarea type="text" class="form-control content" id="content" #content rows="20"
                  placeholder="(*)"></textarea>
              </div>
              <div class="form-group">
                <input type="text-area" class="form-control to" id="link"
                  placeholder="Link Formulario, solo si es una invitación" #link>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="d-flex justify-content-center" *ngIf="spinnerSee == true">
        <div class="spinner-border text-success" role="status">
        </div>
        <span>Enviando correo, espere porfavor</span>
      </div>
      <button type="button" class="btn btn-success"
        (click)="sendInvitations(to.value, subject.value, content.value, link.value, modal)">Enviar</button>
      <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close()">Cancelar</button>

    </div>
  </div>
</ng-template>
<!-- Modal Mail Ends -->

<!-- Modal Information starts -->
<ng-template class="modal fade" #ModalInformation let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card" style="text-align: center">Información del establecimiento</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label label-ident">Nombre:</label>
                <div class="col-sm-9">
                  <label class="col-sm-4 col-form-label">{{establishment.nombre}}</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label label-ident">Director:</label>
                <div class="col-sm-9">
                  <label class="col-sm-4 col-form-label">{{establishment.director}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label label-ident">Dirección:</label>
                <div class="col-sm-9">
                  <label class="col-sm-5 col-form-label">{{establishment.direccion}}</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label label-ident">Correo del Establecimiento:</label>
                <div class="col-sm-9">
                  <label class="col-sm-5 col-form-label">{{establishment.email}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label label-ident">Teléfono del establecimiento</label>
                <div class="col-sm-9">
                  <label class="col-sm-4 col-form-label">{{establishment.telefono}}</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label label-ident">Profesor Encargado:</label>
                <div class="col-sm-9">
                  <label class="col-sm-9 col-form-label">{{establishment.nombre_profesor}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label label-ident">Correo del Profesor: </label>
                <div class="col-sm-9">
                  <label class="col-sm-9 col-form-label">{{establishment.email_profesor}}</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label label-ident">Teléfono del Profesor: </label>
                <div class="col-sm-9">
                  <label class="col-sm-9 col-form-label">{{establishment.telefono_profesor}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Modal Information ends -->