<!-- <div class="container-lg-10" style="display: flex; align-items: center; justify-content: center;"> -->
<!-- <div class="col-lg-10 grid-margin stretch-card"> -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title"><b>Actividades</b></h4>
        <button type="button" style="float: right; margin: 8px;" class="btn btn-gradient-info btn-rounded btn-sm"
            (click)="openModal(ModalContent)">Crear
            actividad</button>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <!-- <select class="custom-select" id="cycle" (change)="getCycle($event.target.value)" style="width: 100px;">
                <option *ngFor="let cycle of cycles" [value]="cycle.id">
                    {{cycle.nombre}}</option>
            </select> -->
        </div>
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped"
                style="text-align: center;">
                <thead class="table table-bordered">
                    <tr>
                        <th>
                            <b>Nombre</b>
                        </th>
                        <th>
                            <b>Fecha</b>
                        </th>
                        <th>
                            <b>Descripción</b>
                        </th>
                        <th>
                            <b>Acción</b>
                        </th>
                    </tr>
                </thead>
                <tbody class="table table-bordered">
                    <tr *ngFor="let activity of activities">
                        <td>
                            {{activity.nombre}}
                        </td>
                        <td>
                            {{activity.fecha | date:"dd/MM/yyyy"}}
                        </td>
                        <td>
                            {{activity.descripcion}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-gradient-info btn-rounded btn-sm"
                                (click)="openModal(ModalContentEdit);setActivity(activity)" title="Editar actividad"><i
                                    class="mdi mdi-grease-pencil"></i></button>
                            <button type="button" class="btn btn-gradient-danger btn-rounded btn-sm"
                                (click)="deleteActivity(activity.id)" title="Editar actividad"><i
                                    class="mdi mdi-delete"></i></button>
                            <button type="button" class="btn btn-gradient-info btn-rounded btn-sm"
                                (click)="openModal(ModalListCost);getActivity(activity.id)"
                                *ngIf="activity.gastos.length >=1" title="Gastos"><i
                                    class="fa-solid fa-file-invoice-dollar"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- </div> -->

<!-- Modal Create starts  -->
<ng-template class="modal fade" #ModalContent let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Crear actividad {{cycle.nombre}}</h4>
                        <p class="card-description">
                            Ingrese los campos para la creacion de la actividad.
                        </p>
                        <form class="forms-sample">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input type="text" class="form-control" id="name" placeholder="Nombre" #name>
                            </div>
                            <div class="form-group">
                                <label for="description">Descripción</label>
                                <input type="text" class="form-control" id="description" placeholder="descripcion"
                                    #description>
                            </div>
                            <div class="form-group">
                                <label for="date">Fecha</label>
                                <input style="width: 50%;" type="date" class="form-control" id="date"
                                    placeholder="aaaa-mm-dd" #date>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success"
                (click)="activityFormCreate(name.value, description.value, date.value,modal)">Crear</button>
            <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close()">Cancelar</button>
        </div>
    </div>
</ng-template>

<!-- Modal starts Edit -->
<ng-template class="modal fade" #ModalContentEdit let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Editar actividad</h4>
                        <p class="card-description">
                            Ingrese los campos para la modificacion de la actividad.
                        </p>
                        <form class="forms-sample" #f="ngForm">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre"
                                    [(ngModel)]="activity.nombre" name="name" #name="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="description">Descripcion</label>
                                <input type="text" class="form-control" placeholder="descripcion"
                                    [(ngModel)]="activity.descripcion" name="description" #description="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="date">Fecha</label>
                                <input style="width: 50%;" type="date" class="form-control" id="date"
                                    [(ngModel)]="activity.fecha" name="date" #date="ngModel">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="activityFormEdit(f, modal)">Editar</button>
            <button type="button" id="closeModal" class="btn btn-light" data-dismiss="modal"
                (click)="modal.close()">Cancelar</button>
        </div>
    </div>
</ng-template>
<!-- Modal Edit ends -->

<!-- Modal ModalListCost starts -->
<ng-template class="modal fade" #ModalListCost let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card">Gastos de la competencia {{activity.nombre}}</h4>
                        <button type="button" style="float: right; margin: 8px;"
                            class="btn btn-gradient-info btn-rounded btn-sm"
                            (click)="openModal(ModalCostCreate);clearForm();costsFormCreate.patchValue({ 'activityName': activity.nombre });" style="float: right; margin: 8px;">Crear
                            gasto</button>
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped"
                            style="text-align: center;">
                            <thead class="table table-bordered">
                                <tr>
                                    <th>
                                        <b>Fecha</b>
                                    </th>
                                    <th>
                                        <b>Valor</b>
                                    </th>
                                    <th>
                                        <b>Ver Detalles</b>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table table-bordered">
                                <tr *ngFor="let cost of costs">
                                    <td>
                                        {{cost.fecha | date:"dd-MM-yyyy"}}
                                    </td>
                                    <td>
                                        {{cost.valor | currency: 'CLP':"$"}}
                                    </td>
                                    <td>
                                        <button type="button"
                                            class="btn btn-gradient-success btn-rounded btn-sm btn-see"
                                            (click)="getDetailsPerCost(cost);openModal(ModalDetailList)"><i
                                                class="mdi mdi-eye"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- Modal ModalListCost starts -->

<!-- Modal ModalDetailList starts -->
<ng-template class="modal fade" #ModalDetailList let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss();">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card">Detalles del gasto</h4>
                        <table class="table table-striped" style="text-align: center;">
                            <thead class="table table-bordered">
                                <tr>
                                    <th>
                                        <b>Nombre</b>
                                    </th>
                                    <th>
                                        <b>Valor</b>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table table-bordered">
                                <tr *ngFor="let detail of detailsPerCost">
                                    <td>
                                        {{detail.nombre}}
                                    </td>
                                    <td>
                                        {{detail.valor | currency: 'CLP':"$"}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- Modal ModalDetailList starts -->

<!-- Modal Create starts -->
<ng-template class="modal fade" #ModalCostCreate let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss();clearForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body" [formGroup]="costsFormCreate">
                        <h4 class="card-title">Crear Gasto de actividad: {{activity.nombre}}</h4>
                        <p class="card-description">
                            Ingrese los campos para la creacion del gasto.
                        </p>
                        <div class="form-group">
                            <label for="date">Fecha</label>
                            <input style="width: 50%;" type="date" class="form-control" id="date"
                                placeholder="aaaa-mm-dd" formControlName="date">
                        </div>
                        <div class="form-group">
                            <label for="name">Nombre de la actividad</label>
                            <input type="text" class="form-control" placeholder="Nombre"  id="activityName" formControlName="activityName">
                        </div>
                        <div>
                            <button type="button" class="btn btn-info" (click)="addDetail()">Agregar detalle</button>
                        </div>
                        <br>
                        <ng-container formArrayName="details">
                            <ng-container *ngFor=" let detailFormGroup of details.controls; let i = index">
                                <div [formGroupName]="i">
                                    <div>
                                        <label for="name">Nombre</label>
                                        <input type="text" class="form-control" id="name" placeholder="Nombre"
                                            formControlName="name">
                                    </div>
                                    <div>
                                        <label for="priceDetail">Valor</label>
                                        <input type="number" class="form-control" id="priceDetail" placeholder="$"
                                            formControlName="priceDetail">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger" (click)="removeDetail(i)">Eliminar
                                            detalle</button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success"
                (click)="createCosts(costsFormCreate.value, modal)">Crear</button>
            <button type="button" class="btn btn-light" data-dismiss="modal"
                (click)="modal.close();clearForm()">Cancelar</button>
        </div>
    </div>
</ng-template>
<!-- Modal Create Ends -->