<!-- <div class="container-lg-10" style="display: flex; align-items: center; justify-content: center;"> -->
    <!-- <div class="col-lg-10 grid-margin stretch-card"> -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><b>Actividades</b></h4>
                <button type="button" style="float: right; margin: 8px;"
                    class="btn btn-gradient-info btn-rounded btn-sm" (click)="openModal(ModalContent)">Crear
                    actividad</button>
                <div class="table-responsive">
                    <table class="table table-striped" style="text-align: center;">
                        <thead class="table table-bordered">
                            <tr>
                                <th>
                                    <b>Nombre</b>
                                </th>
                                <th>
                                    <b>Fecha</b>
                                </th>
                                <th>
                                    <b>Descripción</b>
                                </th>
                                <th>
                                    <b>Ciclo</b>
                                </th>
                                <th>
                                    <b>Acción</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table table-bordered">
                            <tr *ngFor="let activity of activities">
                                <td>
                                    {{activity.nombre}}
                                </td>
                                <td>
                                    {{activity.fecha | date:"dd/MM/yyyy"}}
                                </td>
                                <td>
                                    {{activity.descripcion}}
                                </td>
                                <td>
                                    {{activity.ciclo.nombre}}
                                </td>
                                <td>
                                     <button type="button" class="btn btn-gradient-info btn-rounded btn-sm"
                                        (click)="openModal(ModalContentEdit);getActivity(activity.id)"><i class="mdi mdi-grease-pencil"></i></button>
                                    <button type="button" class="btn btn-gradient-danger btn-rounded btn-sm"
                                        (click)="deleteActivity(activity.id)"><i class="mdi mdi-delete"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!-- </div> -->
<!-- </div> -->

<!-- Modal Create starts  -->
<ng-template class="modal fade" #ModalContent let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Crear actividad</h4>
                        <p class="card-description">
                            Ingrese los campos para la creacion de la actividad.
                        </p>
                        <form class="forms-sample">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input type="text" class="form-control" id="name" placeholder="Nombre" #name>
                            </div>
                            <div class="form-group">
                                <label for="description">Descripción</label>
                                <input type="text" class="form-control" id="description" placeholder="descripcion"
                                    #description>
                            </div>
                            <div class="form-group">
                                <label for="date">Fecha</label>
                                <input style="width: 50%;" type="date" class="form-control" id="date"
                                    placeholder="aaaa-mm-dd" #date>
                            </div>
                            <div class="form-group">
                                <label for="cycle">Ciclo</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01" #cycle>
                                        <option selected>Seleccione un Ciclo</option>
                                        <option *ngFor="let cycle of cycles" [value]="cycle.id">{{cycle.nombre}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success"
                (click)="activityFormCreate(name.value, description.value, date.value, cycle.value,modal)">Crear</button>
            <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close()">Cancelar</button>
        </div>
    </div>
</ng-template>

<!-- Modal starts Edit -->
<ng-template class="modal fade" #ModalContentEdit let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Editar actividad</h4>
                        <p class="card-description">
                            Ingrese los campos para la modificacion de la actividad.
                        </p>
                        <form class="forms-sample" #f="ngForm">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre"
                                    [(ngModel)]="activity.nombre" name="name" #name="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="description">Descripcion</label>
                                <input type="text" class="form-control" placeholder="descripcion"
                                    [(ngModel)]="activity.descripcion" name="description" #description="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="date">Fecha</label>
                                <input style="width: 50%;" type="date" class="form-control" id="date"
                                    [(ngModel)]="activity.fecha" name="date" #date="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="cycle">Ciclo</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <select class="custom-select" id="cycle" [(ngModel)]="activity.ciclo_id" name="cycle" #cycle>
                                        <option selected>Seleccione un Ciclo</option>
                                        <option *ngFor="let cycle of cycles" [value]="cycle.id">{{cycle.nombre}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="activityFormEdit(f, modal)">Editar</button>
            <button type="button" id="closeModal" class="btn btn-light" data-dismiss="modal"
                (click)="modal.close()">Cancelar</button>
        </div>
    </div>
</ng-template>
<!-- Modal Edit ends -->