<!-- ======= Contact Section ======= -->
<section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h3>Contáctanos</h3>
            <p>Si tiene alguna pregunta envíenosla mediante el siguiente formulario de contacto.</p>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                <div class="contact-address">
                    <i class="fa-solid fa-location-pin"></i>
                    <h3>Dirección</h3>
                    <address>Andrés Bello 720, Chillán</address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-phone">
                    <i class="fa-solid fa-mobile-screen"></i>
                    <h3>Número de teléfono</h3>
                    <p><a href="tel:(42) 246 3000">(42) 246 3000</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-email">
                    <i class="fa-solid fa-envelope"></i>
                    <h3>Correo</h3>
                    <p><a href="mailto:ubb@ubiobio.cl">ubb@ubiobio.cl</a></p>
                </div>
            </div>

        </div>

        <div class="form">
            <form role="form" class="php-email-form">
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" required #name>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Tu correo"
                            required #email>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required #subject>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required #content></textarea>
                </div>
                <div class="text-center"><button type="button" style="background: #18d26e; color: white;" class="btn btn-rounded btn-sm" (click)="sendEmail(name.value, email.value, subject.value, content.value)">Enviar mensaje</button></div>
            </form>
        </div>
    </div>
</section>
<!-- End Contact Section -->