.btn-see{
    background: rgb(16,201,24) !important;
    background: linear-gradient(90deg, rgba(16,201,24,1) 0%, rgba(50,223,59,1) 100%) !important;
  }
  
  .label-ident{
    color: #3674a7!important;
    font-weight: 300;
  }
  
  .col-form-label{
  font-size: 16px;
  }
  
  .label-etbls{
  padding-right: 10px;
  }
  
  .fa-id-card-clip{
  font-size: 16px;
  color: #b66dff;
  }
  
  .fa-rectangle-list{
  font-size: 16px;
  color: #b66dff;
  }
  
  .fa-square-poll-vertical{
  font-size: 16px;
  color: #b66dff;
  }

  h5{
    font-weight: bold !important;
    text-align: center !important;
  }

  .ciclo{
    width: 300px !important;
    justify-content: center !important;
  }