<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/logo_web.png" alt="logo">
        </div>
        <h4>Hola! Bienvenido.</h4>
        <h6 class="font-weight-light">Inicie sesión para continuar.</h6>
        <form class="pt-3">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="rut"
              placeholder="Ingrese su rut, sin puntos y con guion. Ej: 12345678-9" #rut>
          </div>
          <div class="form-group">
            <input type="password" class="form-control form-control-lg" id="password" placeholder="Contraseña"
              #password>
          </div>
          <div class="mt-3">
            <button type="button" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
              (click)="login(rut.value, password.value)">INICIAR SESIÓN</button>
          </div>
          <button type="button" class="btn reset-pass" (click)="openModal(ModalContent);isError=false">¿Olvidó su contraseña?</button>
          <div class="mt-3" *ngIf="isError">
            <div class="alert alert-danger" role="alert">
              {{error}}
            </div>
          </div>
          <!-- <div class="my-2 d-flex justify-content-between align-items-center">
            <a href="javascript:(void)" class="auth-link text-black">Forgot password?</a>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Create starts  -->
<ng-template class="modal fade" #ModalContent let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Generar contraseña</h4>
            <p class="card-description">
              Ingrese los campos para generar una contraseña asociada al usuario.
            </p>
            <form class="forms-sample">
              <div class="form-group">
                <label for="rut">RUT</label>
                <input type="text" class="form-control" id="rut"
                  placeholder="Ingrese su rut sin puntos y con guion. Ej: 12345678-9" #rut>
              </div>
              <div class="form-group">
                <label for="email">Correo</label>
                <input type="email" class="form-control" id="email" placeholder="Ingrese su correo. Ej: correo@email.cl"
                  #email>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <div class="mt-3" *ngIf="isError">
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      </div>
      <button type="button" class="btn btn-success"
        (click)="resetPassword(rut.value, email.value, modal)">Generar</button>
      <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close()">Cancelar</button>
    </div>
  </div>
</ng-template>