<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Olimpiada Chilena de Informática</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">

</head>

<body>
    <!-- ======= Header ======= -->
    <app-navbar-homepage></app-navbar-homepage>
    <!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a [routerLink]="['/']">Inicio</a></li>
                </ol>
                <h2>Acerca de</h2>

            </div>
        </section>
        <!-- End Breadcrumbs -->

        <!-- ======= About Us Section ======= -->
        <section id="about">
            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h3>Acerca de</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo
                        consequat.</p>
                </header>

                <div class="row about-cols">

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="about-col">
                            <div class="img">
                                <img src="assets/images/samples/1280x768/1.jpg" alt="" class="img-fluid">
                                <div class="icon"><i class="fa-solid fa-arrow-trend-up"></i></div>
                            </div>
                            <h2 class="title">Nuestra Misión</h2>
                            <p>
                                La Universidad del Bío-Bío, a partir de su naturaleza estatal y pública, tiene por
                                misión:

                                Crear y transmitir el conocimiento mediante la docencia, la investigación, la
                                innovación, la creación artística y la interacción con el entorno social en las diversas
                                áreas del conocimiento y la cultura, basada en la responsabilidad social y en los
                                principios de excelencia, pluralismo, transparencia y equidad de género.

                                Contribuir a la formación de ciudadanos con espíritu crítico, reflexivo y tolerante, así
                                como a la movilidad e integración social y al desarrollo sostenible, promoviendo la
                                identidad cultural y la interculturalidad de las regiones del Biobío y Ñuble, y
                                vinculada con los requerimientos y desafíos de su territorio y del país.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="about-col">
                            <div class="img">
                                <img src="assets/images/samples/1280x768/4.jpg" alt="" class="img-fluid">
                                <div class="icon"><i class="fa-regular fa-eye"></i></div>
                            </div>
                            <h2 class="title">Nuestra Visión</h2>
                            <p>
                                Ser una Universidad comprometida con su carácter estatal y birregional, innovadora,
                                inclusiva y compleja, con proyección nacional e internacional, que contribuye al
                                progreso sostenible de su territorio y sus habitantes, de excelencia en la formación de
                                personas y con sentido de equidad social y de género.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="about-col">
                            <div class="img">
                                <img src="assets/images/samples/1280x768/3.jpg" alt="" class="img-fluid">
                                <div class="icon"><i class="fa-solid fa-question"></i></div>
                            </div>
                            <h2 class="title">¿Qué es la OCI?</h2>
                            <p>
                                La OCI es una competencia de programación orientada a estudiantes de secundaria que
                                pretende despertar el interés en la Computación, permitiendo que los participantes
                                desarrollen habilidades de abstracción, creatividad, algoritmos, pensamiento sistemático
                                y resolución de problemas, y comprendan la naturaleza científica de la disciplina. La
                                OCI busca en los colegios a los potenciales talentos y los motiva para que participen en
                                las actividades de capacitación y práctica a nivel regional en talleres organizados por
                                los miembros de la organización de la OCI, con miras a las competencias regionales. Los
                                mejores de cada región participan en la final nacional de la Olimpiada, y los
                                participantes con el mejor desempeño a nivel nacional reciben una preparación intensiva.
                                Cuatro de ellos ganarán el derecho a representar a Chile en la Olimpiada Internacional
                                de Informática IOI (<a
                                    href="http://www.ioinformatics.org">http://www.ioinformatics.org</a>).
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End About Us Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <app-footer-homepage></app-footer-homepage>
    <!-- End Footer -->

</body>

</html>