<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">{{userLocal.nombre}}</span>
          <span class="text-secondary text-small">{{rolName | titlecase}}</span>
        </div>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }"
      *ngIf="rolName == 'admin' || rolName == 'director' || rolName == 'coordinador'|| rolName == 'profesor' || rolName == 'ayudante'">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Inicio</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : students.isActive || studentscandidates.isActive}"
      *ngIf="rolName == 'admin' || rolName == 'coordinador' || rolName == 'director'">
      <a class="nav-link" (click)="studentsCollapsed = !studentsCollapsed" [attr.aria-expanded]="studentsCollapsed"
        aria-controls="ui-basic">
        <span class="menu-title">Alumnos</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-account-multiple-outline menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!studentsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/students" routerLinkActive="active"
              #students="routerLinkActive">Alumnos participantes</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/studentscandidates" routerLinkActive="active"
              #studentscandidates="routerLinkActive">Alumnos postulantes</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" *ngIf="rolName == 'profesor' ||rolName == 'ayudante'">
      <a class="nav-link" [ngClass]="{ 'active': students.isActive }" routerLink="/students" routerLinkActive
        #students="routerLinkActive">
        <span class="menu-title">Alumnos participantes</span>
        <i class="mdi mdi-account-multiple-outline menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" *ngIf="rolName == 'admin' ||rolName == 'coordinador'||rolName == 'profesor'">
      <a class="nav-link" [ngClass]="{ 'active': assistants.isActive }" routerLink="/assistants" routerLinkActive
        #assistants="routerLinkActive">
        <span class="menu-title">Ayudantes</span>
        <i class="mdi mdi-bulletin-board menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': cycle.isActive }"
      *ngIf="rolName == 'admin' || rolName == 'coordinador' || rolName == 'director'">
      <a class="nav-link" routerLink="/cycle" routerLinkActive #cycle="routerLinkActive">
        <span class="menu-title">Ciclos</span>
        <i class="mdi mdi-sync menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': lessons.isActive }"
      *ngIf="rolName == 'admin' || rolName == 'coordinador'|| rolName == 'profesor' || rolName == 'ayudante'">
      <a class="nav-link" routerLink="/lessons" routerLinkActive #lessons="routerLinkActive">
        <span class="menu-title">Clases</span>
        <i class="mdi mdi-book-open-page-variant menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': establishments.isActive }"
      *ngIf="rolName == 'admin' || rolName == 'coordinador'">
      <a class="nav-link" routerLink="/establishments" routerLinkActive #establishments="routerLinkActive">
        <span class="menu-title">Establecimientos</span>
        <i class="fa-solid fa-school menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': activities.isActive }"
      *ngIf="rolName == 'admin' || rolName == 'coordinador'">
      <a class="nav-link" routerLink="/activities" routerLinkActive #activities="routerLinkActive">
        <span class="menu-title">Actividades</span>
        <i class="mdi mdi-note-text menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': competencies.isActive }"
      *ngIf="rolName == 'admin' || rolName == 'coordinador'">
      <a class="nav-link" routerLink="/competencies" routerLinkActive #competencies="routerLinkActive">
        <span class="menu-title">Competencias</span>
        <i class="mdi mdi-seal menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': costs.isActive }"
      *ngIf="rolName == 'admin' || rolName == 'director'|| rolName == 'coordinador'">
      <a class="nav-link" routerLink="/costs" routerLinkActive #costs="routerLinkActive">
        <span class="menu-title">Gastos</span>
        <i class="mdi mdi-currency-usd menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': level.isActive }"
      *ngIf="rolName == 'admin' || rolName == 'coordinador'">
      <a class="nav-link" routerLink="/level" routerLinkActive #level="routerLinkActive">
        <span class="menu-title">Nivel</span>
        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': teachers.isActive }"
      *ngIf="rolName == 'admin' || rolName == 'coordinador'">
      <a class="nav-link" routerLink="/teachers" routerLinkActive #teachers="routerLinkActive">
        <span class="menu-title">Profesores</span>
        <i class="mdi mdi-school menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': news.isActive }" *ngIf="rolName == 'admin' || rolName == 'coordinador'|| rolName == 'director'">
      <a class="nav-link" routerLink="/all-news" routerLinkActive #news="routerLinkActive">
        <span class="menu-title">Noticias</span>
        <i class="mdi mdi-newspaper menu-icon"></i>
      </a>
    </li>
    <li class="nav-item"
      [ngClass]="{'active' : allestablishments.isActive || allteachers.isActive || allstudents.isActive || allasistants.isActive|| coordinators.isActive}"
      *ngIf="rolName == 'admin'">
      <a class="nav-link" (click)="settingsCollapsed = !settingsCollapsed" [attr.aria-expanded]="settingsCollapsed"
        aria-controls="ui-basic">
        <span class="menu-title">Mantenedores</span>
        <i class="menu-arrow"></i>
        <i class="fa-solid fa-gear menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!settingsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/all-students" routerLinkActive="active"
              #allstudents="routerLinkActive">Alumnos</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/all-assistants" routerLinkActive="active"
              #allasistants="routerLinkActive">Ayudantes</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/coordinators" routerLinkActive="active"
              #coordinators="routerLinkActive">Coordinadores</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/all-establishments" routerLinkActive="active"
              #allestablishments="routerLinkActive">Establecimientos</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/all-teachers" routerLinkActive="active"
              #allteachers="routerLinkActive">Profesores</a></li>
        </ul>
      </div>
    </li>
    <!-- <li class="nav-item" [ngClass]="{'active' : accordions.isActive || buttons.isActive || badges.isActive || breadcrumbs.isActive || dropdowns.isActive || modals.isActive || notifications.isActive || progressbar.isActive || pagination.isActive || tabs.isActive || typography.isActive || tooltips.isActive }">
      <a class="nav-link" (click)="uiBasicCollapsed = !uiBasicCollapsed" [attr.aria-expanded]="uiBasicCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Basic UI Elements</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/accordions" routerLinkActive="active"
              #accordions="routerLinkActive">Accordions</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/buttons" routerLinkActive="active"
              #buttons="routerLinkActive">Buttons</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/badges" routerLinkActive="active"
              #badges="routerLinkActive">Badges</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/breadcrumbs" routerLinkActive="active"
              #breadcrumbs="routerLinkActive">Breadcrumbs</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/dropdowns" routerLinkActive="active"
              #dropdowns="routerLinkActive">Dropdowns</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/modals" routerLinkActive="active"
              #modals="routerLinkActive">Modals</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/notifications" routerLinkActive="active"
              #notifications="routerLinkActive">Notifications</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/progressbar" routerLinkActive="active"
              #progressbar="routerLinkActive">Progress bar</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/pagination" routerLinkActive="active"
              #pagination="routerLinkActive">Pagination</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/tabs" routerLinkActive="active"
              #tabs="routerLinkActive">Tabs</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/typography" routerLinkActive="active"
              #typography="routerLinkActive">Typography</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/tooltips" routerLinkActive="active"
              #tooltips="routerLinkActive">Tooltips</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': forms.isActive }">
      <a class="nav-link" routerLink="forms/basic-elements" routerLinkActive #forms="routerLinkActive">
        <span class="menu-title">Form elements</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': charts.isActive }">
      <a class="nav-link" routerLink="charts/chartjs" routerLinkActive #charts="routerLinkActive">
        <span class="menu-title">Charts</span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': tables.isActive }">
      <a class="nav-link" routerLink="tables/basic-table" routerLinkActive #tables="routerLinkActive">
        <span class="menu-title">Tables</span>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': icons.isActive }">
      <a class="nav-link" routerLink="icons/mdi" routerLinkActive #icons="routerLinkActive">
        <span class="menu-title">Icons</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item"
      [ngClass]="{ 'active' : blankPage.isActive || login.isActive || register.isActive || error404.isActive || error500.isActive }">
      <a class="nav-link" (click)="samplePagesCollapsed = !samplePagesCollapsed"
        [attr.aria-expanded]="samplePagesCollapsed" aria-controls="auth">
        <span class="menu-title">Sample Pages</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-medical-bag menu-icon"></i>
      </a>
      <div class="collapse" id="auth" [ngbCollapse]="!samplePagesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="general-pages/blank-page" routerLinkActive="active"
              #blankPage="routerLinkActive"> Blank Page </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="user-pages/login" routerLinkActive="active"
              #login="routerLinkActive"> Login </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="user-pages/register" routerLinkActive="active"
              #register="routerLinkActive"> Register </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="error-pages/404" routerLinkActive="active"
              #error404="routerLinkActive"> 404 </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="error-pages/500" routerLinkActive="active"
              #error500="routerLinkActive"> 500 </a></li>
        </ul>
      </div>
    </li> -->
  </ul>
</nav>