<!-- <div class="container-lg-10" style="display: flex; align-items: center; justify-content: center;">
    <div class="col-lg-10 grid-margin stretch-card"> -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><b>Profesores</b></h4>
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped" style="text-align: center;">
                        <thead class="table table-bordered">
                            <tr>
                                <th>
                                    <b>RUT</b>
                                </th>
                                <th>
                                    <b>Nombre</b>
                                </th>
                                <th>
                                    <b>Apellidos</b>
                                </th>
                                <th>
                                    <b>Email</b>
                                </th>
                                <th>
                                    <b>Modalidad</b>
                                </th>
                                <th>
                                    <b>Acción</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table table-bordered">
                            <tr *ngFor="let teacher of teachers">
                                <td>
                                    {{teacher.rut}}
                                </td>
                                <td>
                                    {{teacher.nombre}}
                                </td>
                                <td>
                                    {{teacher.apellidos}}
                                </td>
                                <td>
                                    {{teacher.email}}
                                </td>
                                <td>
                                    {{teacher.modalidad}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-gradient-info btn-rounded btn-sm"
                                        (click)="openModal(ModalContentEdit);getTeachers(teacher.id)"><i class="mdi mdi-grease-pencil"></i></button>
                                    <button type="button"
                                        class="btn btn-gradient-danger btn-rounded btn-sm"
                                        (click)="deleteTeacher(teacher.id)"><i class="mdi mdi-delete"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!-- </div>
</div> -->

<!-- Modal Edit starts-->
<ng-template class="modal fade" #ModalContentEdit let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Editar profesor</h4>
                        <p class="card-description">
                            Ingrese los campos para la modificacion del profesor.
                        </p>
                        <form class="forms-sample" #f="ngForm">
                            <div class="form-group">
                                <label for="rut">RUT</label>
                                <input type="text" class="form-control" id="rut" [(ngModel)]="teacher.rut" name="rut" #rut="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input type="text" class="form-control" id="name" [(ngModel)]="teacher.nombre" name="name" #name="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="surname">Apellidos</label>
                                <input type="text" class="form-control" id="surname" [(ngModel)]="teacher.apellidos" name="surname" #surname="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="email">Correo</label>
                                <input type="email" class="form-control" id="email" [(ngModel)]="teacher.email" name="email" #email="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="faculty">Facultad</label>
                                <input type="faculty" class="form-control" id="faculty" [(ngModel)]="teacher.facultad" name="faculty" #faculty="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="modality">Modalidad</label>
                                <input type="modality" class="form-control" id="modality" [(ngModel)]="teacher.modalidad" name="modality" #modality="ngModel">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="teacherFormEdit(f, modal)">Editar</button>
            <button type="button" id = "closeModal" class="btn btn-light" data-dismiss="modal" (click)="modal.close()">Cancelar</button>
        </div>
    </div>
</ng-template>
<!-- Modal Edit ends-->