<div class="container-lg-10" style="display: flex; align-items: center; justify-content: center;">
    <div class="col-lg-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><b>Coordinadores</b></h4>
                <button type="button" style="float: right; margin: 8px;"
                    class="btn btn-gradient-info btn-rounded btn-sm">Registrar coordinador</button>
                <div class="table-responsive">
                    <table class="table table-striped" style="text-align: center;">
                        <thead class="table table-bordered">
                            <tr>
                                <th>
                                    <b>Nombre</b>
                                </th>
                                <th>
                                    <b>Apellidos</b>
                                </th>
                                <th>
                                    <b>RUT</b>
                                </th>
                                <th>
                                    <b>Acción</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table table-bordered">
                            <tr *ngFor="let coordinator of coordinators">
                                <td>
                                    {{coordinator.nombre}}
                                </td>
                                <td>
                                    {{coordinator.apellidos}}
                                </td>
                                <td>
                                    {{coordinator.rut}}
                                </td>
                                <td>
                                    <button type="button"
                                        class="btn btn-gradient-info btn-rounded btn-sm">Editar</button>
                                    <button type="button"
                                        class="btn btn-gradient-danger btn-rounded btn-sm">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>