<!-- <div class="container-lg-10" style="display: flex; align-items: center; justify-content: center;">
  <div class="col-lg-10 grid-margin stretch-card"> -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title"><b>Noticias</b></h4>
        <button type="button" style="float: right; margin: 8px;" class="btn btn-gradient-info btn-rounded btn-sm"
            (click)="openModal(ModalContent)">Crear noticia</button>
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped"
                style="text-align: center;">
                <thead class="table table-bordered">
                    <tr>
                        <th>
                            <b>Título</b>
                        </th>
                        <th>
                            <b>Fecha</b>
                        </th>
                        <th>
                            <b>Acción</b>
                        </th>
                    </tr>
                </thead>
                <tbody class="table table-bordered">
                    <tr *ngFor="let noticia of noticias">
                        <td>
                            {{noticia.titulo}}
                        </td>
                        <td>
                            {{noticia.fecha | date:"dd-MM-yyyy"}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-gradient-info btn-rounded btn-sm"
                                (click)="openModal(ModalContentEdit);editNews(noticia)"><i
                                    class="mdi mdi-grease-pencil"></i></button>
                            <button type="button" class="btn btn-gradient-danger btn-rounded btn-sm"
                                (click)="deleteNews(noticia.id)"><i class="mdi mdi-delete"></i></button>
                            <!-- <button type="button" class="btn btn-gradient-danger btn-rounded btn-sm"
                                (click)="openModal(ModalSeeImages);setNew(noticia)"><i class="mdi mdi-eye"></i></button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- </div>
  </div> -->

<!-- Modal Create starts -->
<ng-template class="modal fade" #ModalContent let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss();clearForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Crear noticia</h4>
                        <p class="card-description">
                            Ingrese los campos para la creación de la noticia.
                        </p>
                        <form class="forms-sample">
                            <div class="form-group">
                                <label for="title">Título de la noticia</label>
                                <input type="text" class="form-control" id="title"
                                    placeholder="Ingrese el título de la noticia." #title>
                            </div>
                            <div class="form-group">
                                <label for="lead">Entrada de la noticia</label>
                                <textarea class="form-control" id="lead" rows="5"
                                    placeholder="Ingrese un resumen de la noticia. Invitación a leer." #lead></textarea>
                            </div>
                            <div class="form-group">
                                <label for="body">Cuerpo de la noticia</label>
                                <textarea class="form-control" id="body" rows="15"
                                    placeholder="Ingrese cuerpo de la noticia." #body></textarea>
                            </div>
                            <label for="body">Adjunte imagen(es)</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="myfile"
                                    (change)="onFileSelected($event)" multiple accept=".png, .jpg, .svg">
                                <label class="custom-file-label" for="customFile">{{fileNames || 'Seleccione
                                    archivo(s)'}}</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success"
                (click)="newsFormCreate(title.value, lead.value, body.value, modal)">Crear</button>
            <button type="button" class="btn btn-light" data-dismiss="modal"
                (click)="modal.close();clearForm()">Cancelar</button>
        </div>
    </div>
</ng-template>
<!-- Modal Create Ends -->

<!-- Modal Edit starts -->
<ng-template class="modal fade" #ModalContentEdit let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Editar noticia</h4>
                        <p class="card-description">
                            Ingrese los campos para la modificacion del la noticia.
                        </p>
                        <form class="forms-sample" #f="ngForm">
                            <div class="form-group">
                                <label for="title">Título de la noticia</label>
                                <input type="text" class="form-control" id="title" [(ngModel)]="news.titulo"
                                    name="title" #title="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="lead">Entrada de la noticia</label>
                                <textarea class="form-control" id="lead" rows="5" [(ngModel)]="news.entrada" name="lead"
                                    #lead="ngModel"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="body">Cuerpo de la noticia</label>
                                <textarea class="form-control" id="body" rows="15" [(ngModel)]="news.cuerpo" name="body"
                                    #body="ngModel"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="newsFormEdit(f, modal)">Editar</button>
            <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close()">Cancelar</button>
        </div>
    </div>
</ng-template>
<!-- Modal Edit ends -->


<!-- Modal Image starts -->
<!-- <ng-template class="modal fade" #ModalSeeImages let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div *ngFor="let adjunto of new.adjuntos">
                            <div>
                                <img class="d-block w-100" src="{{url}}{{adjunto.url}}" alt="Second slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template> -->
<!-- Modal Image ends -->