<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Olimpiada Chilena de Informática</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">

</head>

<body>
    <!-- ======= Header ======= -->
    <app-navbar-homepage></app-navbar-homepage>
    <!-- End Header -->

    <!-- Main -->
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a [routerLink]="['/']">Inicio</a></li>
                </ol>
                <h2>Noticias</h2>

            </div>
        </section>
        <!-- End Breadcrumbs -->

        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-8 entries">

                        <article class="entry"
                            *ngFor="let noticia of noticias | paginate: {itemsPerPage: 3, currentPage: p}">
                            <!-- <div *ngIf="noticia.adjuntos.length < 2">
                                <div class="entry-img" *ngFor="let adjunto of noticia.adjuntos">
                                    <img src="{{url}}{{adjunto.url}}" alt="" class="img-fluid">
                                </div>
                            </div> -->
                            <div>
                                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleCaptions"
                                            *ngFor="let adjunto of noticia.adjuntos;let index = index"
                                            [attr.data-slide-to]="index"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item"
                                            *ngFor="let adjunto of noticia.adjuntos;let index = index;let isFirst = first"
                                            [ngClass]="{active:isFirst}">
                                            <img [src]="url+adjunto.url" class="d-block w-100" [alt]="adjunto.title">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <h2 class="entry-title">
                                <a (click)="onSelectNews(noticia)">{{noticia.titulo}}</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a>Autor:
                                            {{noticia.user.nombre}} {{noticia.user.apellidos}}</a>
                                    </li>
                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                                        <a>{{noticia.fecha}}</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                    {{noticia.cuerpo}}
                                </p>
                                <div class="read-more">
                                    <a (click)="onSelectNews(noticia)">Leer más</a>
                                </div>
                            </div>

                        </article>
                        <!-- End blog entry -->


                        <div class="blog-pagination">
                            <pagination-controls (pageChange)="p= $event" responsive="true" autoHide="true"
                                previousLabel="Anterior" nextLabel="Siguiente" class="float-right">

                            </pagination-controls>
                        </div>
                    </div>

                    <!-- End blog entries list -->

                    <div class="col-lg-4">

                        <!-- Sidebar search form-->
                        <div class="sidebar">

                            <h3 class="sidebar-title">Buscar</h3>
                            <!-- <div class="card"> -->
                            <input type="text" class="form-control search-word" style="width: 200px;" #word>
                            <button type="button"
                                class="btn btn-gradient-success btn-rounded btn-sm btn-see search-word"
                                (click)="listNewsForWord(word.value)" style="margin-left:8px ;"><i
                                    class="fa-solid fa-magnifying-glass"></i></button>

                            <!-- </div> -->
                            <!-- End sidebar search form-->

                            <!-- <h3 class="sidebar-title">Categories</h3>
                <div class="sidebar-item categories">
                  <ul>
                    <li><a href="#">General <span>(25)</span></a></li>
                    <li><a href="#">Lifestyle <span>(12)</span></a></li>
                    <li><a href="#">Travel <span>(5)</span></a></li>
                    <li><a href="#">Design <span>(22)</span></a></li>
                    <li><a href="#">Creative <span>(8)</span></a></li>
                    <li><a href="#">Educaion <span>(14)</span></a></li>
                  </ul>
                </div> -->
                            <!-- End sidebar categories-->

                            <h3 class="sidebar-title">Post Recientes</h3>
                            <div class="sidebar-item recent-posts">
                                <div *ngIf="recentPost.length >=1">
                                    <div class="post-item clearfix" *ngFor="let post of recentPost">
                                        <div *ngIf="post.adjuntos.length >=1"><img src="{{url}}{{post.adjuntos[0].url}}"
                                                alt=""></div>
                                        <h4><a (click)="onSelectNews(post)">{{post.titulo}}</a></h4>
                                        <time datetime="2020-01-01">{{post.fecha}}</time>
                                    </div>
                                </div>
                                <div *ngIf="recentPost.length ==0">
                                    No hay post recientes.
                                </div>
                            </div>
                            <!-- End sidebar recent posts-->

                            <!-- <h3 class="sidebar-title">Tags</h3>
                <div class="sidebar-item tags">
                  <ul>
                    <li><a href="#">App</a></li>
                    <li><a href="#">IT</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Mac</a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Creative</a></li>
                    <li><a href="#">Studio</a></li>
                    <li><a href="#">Smart</a></li>
                    <li><a href="#">Tips</a></li>
                    <li><a href="#">Marketing</a></li>
                  </ul>
                </div> -->
                            <!-- End sidebar tags-->

                        </div>
                        <!-- End sidebar -->

                    </div>
                    <!-- End blog sidebar -->

                </div>

            </div>
        </section>
        <!-- End Blog Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <app-footer-homepage></app-footer-homepage>>
    <!-- End Footer -->

</body>

</html>