<!-- <div class="container-lg-10" style="display: flex; align-items: center; justify-content: center;">
  <div class="col-lg-10 grid-margin stretch-card"> -->
<div class="card">
  <div class="card-body">
    <h4 class="card-title"><b>Alumnos Participantes</b></h4>
    <!-- <button type="button" style="float: right; margin: 8px;" class="btn btn-gradient-info btn-rounded btn-sm"
          (click)="openModal(ModalContent)">Registrar alumno</button> -->
    <!-- <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <select class="custom-select" id="cycle" (change)="getCycle($event.target.value)" [(ngModel)]="cycle.id" style="width: 100px;">
                <option *ngFor="let cycle of cycles" [value]="cycle.id">
                    {{cycle.nombre}}</option>
            </select>
        </div> -->
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped"
        style="text-align: center;">
        <thead class="table table-bordered">
          <tr>
            <th>
              <b>Nombre</b>
            </th>
            <th>
              <b>Apellidos</b>
            </th>
            <th>
              <b>RUT</b>
            </th>
            <th>
              <b>Establecimiento</b>
            </th>
            <th>
              <b>Acción</b>
            </th>
          </tr>
        </thead>
        <tbody class="table table-bordered">
          <tr *ngFor="let student of students">
            <td>
              {{student.nombre}}
            </td>
            <td>
              {{student.apellidos}}
            </td>
            <td>
              {{student.rut}}
            </td>
            <td>
              {{student.establecimiento.nombre}}
            </td>
            <td>
              <button type="button" class="btn btn-gradient-success btn-rounded btn-sm btn-see"
                (click)="openModal(ModalContentStatistics);setStudent(student);getStudentStatistic(0)"
                title="Ver estadistica asociadas al ciclo"><i class="mdi mdi-eye"></i></button>
              <!-- <button type="button" class="btn btn-gradient-info btn-rounded btn-sm" (click)="openModal(ModalContentEdit);getStudent(student.id)"><i class="mdi mdi-grease-pencil"></i></button>
                  <button type="button" class="btn btn-gradient-danger btn-rounded btn-sm" (click)="deleteStudent(student.id)" ><i class="mdi mdi-delete"></i></button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- </div>
</div> -->

<!-- Modal Create starts -->
<ng-template class="modal fade" #ModalContent let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Registrar alumno</h4>
            <p class="card-description">
              Ingrese los campos para el registro del alumno.
            </p>
            <form class="forms-sample">
              <div class="form-group">
                <label for="rut">RUT</label>
                <input type="text" class="form-control" id="rut" placeholder="12345678-9" #rut>
              </div>
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Nombre" #name>
              </div>
              <div class="form-group">
                <label for="surname">Apellidos</label>
                <input type="text" class="form-control" id="surname" placeholder="Apellidos" #surname>
              </div>
              <div class="form-group">
                <label for="phoneNumber">Número de teléfono del alumno</label>
                <input type="number" class="form-control" id="phoneNumber" placeholder="+569" #phoneNumber>
              </div>
              <div class="form-group">
                <label for="email">Correo</label>
                <input type="email" class="form-control" id="email" placeholder="Email" #email>
              </div>
              <div class="form-group">
                <label for="dateOfBirth">Fecha de nacimiento</label>
                <input style="width: 50%;" type="date" class="form-control" id="dateOfBirth" placeholder="aaaa-mm-dd"
                  #dateOfBirth>
              </div>
              <div class="form-group">
                <label for="grade">Curso</label>
                <input type="text" class="form-control" id="grade" placeholder="Curso" #grade>
              </div>
              <div class="form-group">
                <label for="address">Dirección</label>
                <input type="text" class="form-control" id="address" placeholder="Dirección" #address>
              </div>
              <div class="form-group">
                <label for="parentNumber">Número de teléfono del apoderado</label>
                <input type="number" class="form-control" id="parentNumber" placeholder="+569" #parentNumber>
              </div>
              <div class="form-group">
                <label for="parent">Apoderado</label>
                <input type="text" class="form-control" id="parent" placeholder="Nombre del apoderado" #parent>
              </div>
              <div class="form-group">
                <label for="establishment">Establecimiento</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" #establishment>
                    <option selected>Seleccione un establecimiento</option>
                    <option *ngFor="let establishment of establishments" [value]="establishment.id">
                      {{establishment.nombre}}</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success"
        (click)="studentFormCreate(rut.value, name.value, surname.value, phoneNumber.value, email.value, dateOfBirth.value, grade.value, address.value, parentNumber.value, parent.value, establishment.value, modal)">Crear</button>
      <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close()">Cancelar</button>
    </div>
  </div>
</ng-template>
<!-- Modal Create Ends -->

<!-- Modal Edit starts -->
<ng-template class="modal fade" #ModalContentEdit let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Editar alumno</h4>
            <p class="card-description">
              Ingrese los campos para la modificacion del alumno.
            </p>
            <form class="forms-sample" #f="ngForm">
              <div class="form-group">
                <label for="rut">RUT</label>
                <input type="text" class="form-control" id="rut" [(ngModel)]="student.rut" name="rut" #rut="ngModel">
              </div>
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="student.nombre" name="name"
                  #nombre="ngModel" #name>
              </div>
              <div class="form-group">
                <label for="surname">Apellidos</label>
                <input type="text" class="form-control" id="surname" [(ngModel)]="student.apellidos" name="surname"
                  #surname="ngModel">
              </div>
              <div class="form-group">
                <label for="phoneNumber">Número de teléfono del alumno</label>
                <input type="number" class="form-control" id="phoneNumber" [(ngModel)]="student.telefono"
                  name="phoneNumber" #phoneNumber="ngModel">
              </div>
              <div class="form-group">
                <label for="email">Correo</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="student.email" name="email"
                  #email="ngModel">
              </div>
              <div class="form-group">
                <label for="dateOfBirth">Fecha de nacimiento</label>
                <input style="width: 17%;" type="date" class="form-control" id="dateOfBirth"
                  [(ngModel)]="student.fecha_nacimiento" name="dateOfBirth" #dateOfBirth="ngModel">
              </div>
              <div class="form-group">
                <label for="grade">Curso</label>
                <input type="text" class="form-control" id="grade" [(ngModel)]="student.curso" name="grade"
                  #grade="ngModel">
              </div>
              <div class="form-group">
                <label for="address">Dirección</label>
                <input type="text" class="form-control" id="address" [(ngModel)]="student.direccion" name="address"
                  #address="ngModel">
              </div>
              <div class="form-group">
                <label for="parentNumber">Número de teléfono del apoderado</label>
                <input type="number" class="form-control" id="parentNumber" [(ngModel)]="student.telefono_apoderado"
                  name="parentNumber" #parentNumber="ngModel">
              </div>
              <div class="form-group">
                <label for="parent">Apoderado</label>
                <input type="text" class="form-control" id="parent" [(ngModel)]="student.nombre_apoderado" name="parent"
                  #parent="ngModel">
              </div>
              <div class="form-group">
                <label for="establishment">Establecimiento</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                  </div>
                  <select class="custom-select" id="establishment" [(ngModel)]="student.establecimiento_id"
                    name="establishment" #establishment="ngModel">
                    <option selected>Seleccione un establecimiento</option>
                    <option *ngFor="let establishment of establishments" [value]="establishment.id">
                      {{establishment.nombre}}</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="studentFormEdit(f, modal)">Editar</button>
      <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close()">Cancelar</button>
    </div>
  </div>
</ng-template>
<!-- Modal Edit ends -->


<!-- Modal Statistics starts -->
<ng-template class="modal fade" #ModalContentStatistics let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="col-12 grid-margin">
      <div class="card">
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active " id="actual-tab" data-toggle="tab" href="#actual" role="tab"
              aria-controls="actual" aria-selected="true">
              <h6>Ciclo actual.</h6></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="searchPerCycle-tab" data-toggle="tab" href="#searchPerCycle" role="tab"
              aria-controls="searchPerCycle" aria-selected="false"><h6>Ver por ciclo.</h6></a>
          </li>
        </ul>
        <!-- TAB CICLO ACTUAL -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="actual" role="tabpanel" aria-labelledby="actual-tab">
            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active " id="student-tab" data-toggle="tab" href="#student" role="tab"
                  aria-controls="student" aria-selected="true"><i class="fa-solid fa-id-card-clip"></i>
                  Información</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="assistancePerCycle-tab" data-toggle="tab" href="#assistancePerCycle" role="tab"
                  aria-controls="assistancePerCycle" aria-selected="false"><i class="fa-solid fa-rectangle-list"></i>
                  Asistencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="score-tab" data-toggle="tab" href="#score" role="tab" aria-controls="score"
                  aria-selected="false"><i class="fa-solid fa-square-poll-vertical"></i>
                  Puntajes</a>
              </li>
            </ul>
            <!-- TAB INFORMACION ALUMNO -->
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="student" role="tabpanel" aria-labelledby="student-tab">
                <div class="col-12 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label label-ident">Nombres:</label>
                            <div class="col-sm-9">
                              <label class="col-sm-4 col-form-label label-result">{{student.nombre}}</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label label-ident">Apellidos:</label>
                            <div class="col-sm-9">
                              <label class="col-sm-4 col-form-label label-result">{{student.apellidos}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label label-ident">RUT:</label>
                            <div class="col-sm-9">
                              <label class="col-sm-5 col-form-label label-result">{{student.rut}}</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label label-ident">Fecha de
                              nacimiento:</label>
                            <div class="col-sm-9">
                              <label class="col-sm-5 col-form-label label-result">{{student.fecha_nacimiento|
                                date:'dd-M-y'}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label label-ident">Curso:</label>
                            <div class="col-sm-9">
                              <label class="col-sm-4 col-form-label label-result">{{student.curso}}</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label label-ident">Correo
                              electronico:</label>
                            <div class="col-sm-9">
                              <label class="col-sm-9 col-form-label label-result">{{student.email}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label label-ident">Telefono: </label>
                            <div class="col-sm-9">
                              <label class="col-sm-9 col-form-label label-result">{{student.telefono}}</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label label-ident">Dirección: </label>
                            <div class="col-sm-9">
                              <label class="col-sm-9 col-form-label label-result">{{student.direccion}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label label-ident">Nombre y apellido del
                              apoderado:
                            </label>
                            <div class="col-sm-9">
                              <label class="col-sm-9 col-form-label label-result">{{student.nombre_apoderado}}</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label label-ident">Telefono del
                              apoderado: </label>
                            <div class="col-sm-9">
                              <label class="col-sm-9 col-form-label label-result">{{student.telefono_apoderado}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label label-ident label-etbls">Establecimiento:</label>
                            <div class="col-sm-8">
                              <label
                                class="col-sm-8 col-form-label label-result">{{student.establecimiento.nombre}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- TAB ASISTENCIA ALUMNO -->
              <div class="tab-pane fade" id="assistancePerCycle" role="tabpanel"
                aria-labelledby="assistancePerCycle-tab">
                <div *ngIf="studentActualStatistic.Porcentaje !=-1">
                  <div class="card-body">
                    <h4 style="text-align: center;font-weight:bold;">PORCENTAJE DE ASISTENCIA:
                      {{studentActualStatistic.Porcentaje}}%</h4>
                    <div class="table-responsive">
                      <table class="table table-striped" style="text-align: center;"
                        style="background-color: transparent;border: transparent;">
                        <thead class="table table-bordered" style="background-color: transparent;border: transparent;">
                          <tr>
                            <th class="thGastos">
                              <h5> Total clases: {{studentActualStatistic.Asistencias.length}}
                              </h5>
                            </th>
                            <th class="thGastos">
                              <h5>Asistencias:
                                {{studentActualStatistic.CantAsistenciasEInasistencias[0].asistencias}}
                              </h5>
                            </th>
                            <th class="thGastos">
                              <h5>
                                Inasistencias:{{studentActualStatistic.CantAsistenciasEInasistencias[0].inasistencias}}
                              </h5>
                            </th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" style="font-size: bold;font-weight:bold;">
                      CLASES ASOCIADAS
                    </div>
                    <div class="card-body text-primary">
                      <div class="table-responsive">
                        <table class="table table-striped" style="text-align: center;">
                          <thead class="table table-bordered">
                            <tr>
                              <th>
                                <b>Fecha</b>
                              </th>
                              <th>
                                <b>Contenido</b>
                              </th>
                              <th>
                                <b>Asistencia</b>
                              </th>
                            </tr>
                          </thead>
                          <tbody class="table table-bordered">
                            <tr *ngFor="let lesson of studentActualStatistic.Asistencias">
                              <td>
                                {{lesson.fecha| date:"dd-MM-yyyy"}}
                              </td>
                              <td>
                                {{lesson.contenido}}
                              </td>
                              <td *ngIf="lesson.pivot.asistencia == 1" style="color: green;font-weight: bold;">
                                PRESENTE
                              </td>
                              <td *ngIf="lesson.pivot.asistencia == 0" style="color: red;font-weight: bold;">
                                AUSENTE
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="studentActualStatistic.Porcentaje == -1" style="text-align: center;font-weight:bold;">
                  <h5>EL ALUMNO NO REGISTRA ASISTENCIAS</h5>
                </div>
              </div>
              <!-- TAB PUNTAJE ALUMNO -->
              <div class="tab-pane fade" id="score" role="tabpanel" aria-labelledby="score-tab">
                <div *ngIf="studentActualStatistic.Competencias.length >=1">
                  <div class="card">
                    <h4 style="  font-weight: bold !important; text-align: center !important;">Competencias
                      asociadas al
                      estudiante.</h4>
                    <div class="card-body text-primary">
                      <div class="table-responsive">
                        <table class="table table-striped" style="text-align: center;">
                          <thead class="table table-bordered">
                            <tr>
                              <th>
                                <b>Fecha</b>
                              </th>
                              <th>
                                <b>Tipo</b>
                              </th>
                              <th>
                                <b>Lugar</b>
                              </th>
                              <th>
                                <b>Puntaje</b>
                              </th>
                            </tr>
                          </thead>
                          <tbody class="table table-bordered">
                            <tr *ngFor="let competition of studentActualStatistic.Competencias">
                              <td>
                                {{competition.fecha| date:"dd-MM-yyyy"}}
                              </td>
                              <td>
                                {{competition.tipo}}
                              </td>
                              <td>
                                {{competition.lugar}}
                              </td>
                              <td>
                                {{competition.pivot.puntaje}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="studentActualStatistic.Competencias.length == 0"
                  style="text-align: center;font-weight:bold;">
                  ALUMNO
                  <h5>EL ALUMNO TIENE COMPETENCIAS ASOCIADAS</h5>
                </div>
              </div>
            </div>
          </div>
          <!-- TAB ASISTENCIA -->
          <div class="tab-pane fade" id="searchPerCycle" role="tabpanel" aria-labelledby="searchPerCycle-tab">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 style="text-align: center;font-weight: bold;">Estadistica del alumno</h4>
                  <p class="card-description">
                    Seleccione el ciclo para cargar la Información del alumno.
                  </p>
                  <div class="input-group mb-3">
                    <select class="custom-select ciclo" id="cycle" name="cycle" #cycle>
                      <option selected [ngValue]=null>Seleccione un ciclo</option>
                      <option *ngFor="let cycle of cycles" [value]="cycle.id">
                        {{cycle.nombre}}</option>
                    </select>
                    <button type="button" class="btn btn-success" style="margin-left: 8px;"
                      (click)="getStudentStatistic(1)">Buscar</button>
                  </div>
                </div>
              </div>
              <div *ngIf="see == 1">
                <div class="card">
                  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="assistancePerCycleStudentSearch-tab" data-toggle="tab"
                        href="#assistancePerCycleStudentSearch" role="tab"
                        aria-controls="assistancePerCycleStudentSearch" aria-selected="false"><i
                          class="fa-solid fa-rectangle-list"></i>
                        Asistencia</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="scoreStudentSearch-tab" data-toggle="tab" href="#scoreStudentSearch"
                        role="tab" aria-controls="scoreStudentSearch" aria-selected="false"><i
                          class="fa-solid fa-square-poll-vertical"></i>
                        Puntajes</a>
                    </li>
                  </ul>
                  <!-- TAB INFORMACION ALUMNO -->
                  <div class="tab-content" id="myTabContent">
                    <!-- TAB ASISTENCIA ALUMNO -->
                    <div class="tab-pane fade show active" id="assistancePerCycleStudentSearch" role="tabpanel"
                      aria-labelledby="assistancePerCycleStudentSearch-tab">
                      <div *ngIf="studentSearchStatistic.Porcentaje !=-1">
                        <div class="card-body">
                          <h4 style="text-align: center;font-weight:bold;">PORCENTAJE DE ASISTENCIA:
                            {{studentSearchStatistic.Porcentaje}}%</h4>
                          <div class="table-responsive">
                            <table class="table table-striped" style="text-align: center;"
                              style="background-color: transparent;border: transparent;">
                              <thead class="table table-bordered"
                                style="background-color: transparent;border: transparent;">
                                <tr>
                                  <th class="thGastos">
                                    <h5> Total clases: {{studentSearchStatistic.Asistencias.length}}
                                    </h5>
                                  </th>
                                  <th class="thGastos">
                                    <h5>Asistencias:
                                      {{studentSearchStatistic.CantAsistenciasEInasistencias[0].asistencias}}
                                    </h5>
                                  </th>
                                  <th class="thGastos">
                                    <h5>
                                      Inasistencias:{{studentSearchStatistic.CantAsistenciasEInasistencias[0].inasistencias}}
                                    </h5>
                                  </th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" style="font-size: bold;font-weight:bold;">
                            CLASES ASOCIADAS
                          </div>
                          <div class="card-body text-primary">
                            <div class="table-responsive">
                              <table class="table table-striped" style="text-align: center;">
                                <thead class="table table-bordered">
                                  <tr>
                                    <th>
                                      <b>Fecha</b>
                                    </th>
                                    <th>
                                      <b>Contenido</b>
                                    </th>
                                    <th>
                                      <b>Asistencia</b>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody class="table table-bordered">
                                  <tr *ngFor="let lesson of studentSearchStatistic.Asistencias">
                                    <td>
                                      {{lesson.fecha| date:"dd-MM-yyyy"}}
                                    </td>
                                    <td>
                                      {{lesson.contenido}}
                                    </td>
                                    <td *ngIf="lesson.pivot.asistencia == 1" style="color: green;font-weight: bold">
                                      PRESENTE
                                    </td>
                                    <td *ngIf="lesson.pivot.asistencia == 0" style="color: red;font-weight: bold">
                                      AUSENTE
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="studentSearchStatistic.Porcentaje == -1" style="text-align: center;font-weight:bold;">
                        <h5>EL ALUMNO NO REGISTRA ASISTENCIAS</h5>
                      </div>
                    </div>
                    <!-- TAB PUNTAJE ALUMNO -->
                    <div class="tab-pane fade" id="scoreStudentSearch" role="tabpanel"
                      aria-labelledby="scoreStudentSearch-tab">
                      <div *ngIf="studentSearchStatistic.Competencias.length >=1">
                        <div class="card">
                          <h4 style="  font-weight: bold !important; text-align: center !important;">Competencias
                            asociadas al
                            estudiante.</h4>
                          <div class="card-body text-primary">
                            <div class="table-responsive">
                              <table class="table table-striped" style="text-align: center;">
                                <thead class="table table-bordered">
                                  <tr>
                                    <th>
                                      <b>Fecha</b>
                                    </th>
                                    <th>
                                      <b>Tipo</b>
                                    </th>
                                    <th>
                                      <b>Lugar</b>
                                    </th>
                                    <th>
                                      <b>Puntaje</b>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody class="table table-bordered">
                                  <tr *ngFor="let competition of studentSearchStatistic.Competencias">
                                    <td>
                                      {{competition.fecha| date:"dd-MM-yyyy"}}
                                    </td>
                                    <td>
                                      {{competition.tipo}}
                                    </td>
                                    <td>
                                      {{competition.lugar}}
                                    </td>
                                    <td>
                                      {{competition.pivot.puntaje}}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="studentSearchStatistic.Competencias.length == 0"
                        style="text-align: center;font-weight:bold;">
                        <h5>EL ALUMNO TIENE COMPETENCIAS ASOCIADAS</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Modal Statistics ends -->