<div class="container-lg-10" style="display: flex; align-items: center; justify-content: center;">
  <div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><b>Alumnos</b></h4>
        <button type="button" style="float: right; margin: 8px;" class="btn btn-gradient-info btn-rounded btn-sm"
          (click)="openModal(ModalContent)">Registrar alumno</button>
        <div class="table-responsive">
          <table class="table table-striped" style="text-align: center;">
            <thead class="table table-bordered">
              <tr>
                <th >
                  <b>Nombre</b>
                </th>
                <th>
                  <b>Apellidos</b>
                </th>
                <th>
                  <b>RUT</b>
                </th>
                <th>
                  <b>Acción</b>
                </th>
              </tr>
            </thead>
            <tbody class="table table-bordered">
              <tr *ngFor="let student of students">
                <td>
                  {{student.nombre}}
                </td>
                <td>
                  {{student.apellidos}}
                </td>
                <td>
                  {{student.rut}}
                </td>
                <td>
                  <button type="button" class="btn btn-gradient-info btn-rounded btn-sm">Editar</button>
                  <button type="button" class="btn btn-gradient-danger btn-rounded btn-sm">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal starts -->
<ng-template class="modal fade" #ModalContent let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button"  class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Registrar alumno</h4>
            <p class="card-description">
              Ingrese los campos para el registro del alumno.
            </p>
            <form class="forms-sample">
              <div class="form-group">
                <label for="rut">RUT</label>
                <input type="text" class="form-control" id="rut" placeholder="12345678-9" #rut>
              </div>
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Nombre" #name>
              </div>
              <div class="form-group">
                <label for="surname">Apellidos</label>
                <input type="text" class="form-control" id="surname" placeholder="Apellidos" #surname>
              </div>
              <div class="form-group">
                <label for="phoneNumber">Número de teléfono del alumno</label>
                <input type="number" class="form-control" id="phoneNumber" placeholder="+569" #phoneNumber>
              </div>
              <div class="form-group">
                <label for="email">Correo</label>
                <input type="email" class="form-control" id="email" placeholder="Email" #email>
              </div>
              <div class="form-group">
                <label for="dateOfBirth">Fecha de nacimiento</label>
                <input style="width: 17%;" type="date" class="form-control" id="dateOfBirth" placeholder="aaaa-mm-dd" #dateOfBirth>
              </div>
              <div class="form-group">
                <label for="grade">Curso</label>
                <input type="text" class="form-control" id="grade" placeholder="Curso" #grade>
              </div>
              <div class="form-group">
                <label for="address">Dirección</label>
                <input type="text" class="form-control" id="address" placeholder="Dirección" #address>
              </div>
              <div class="form-group">
                <label for="parentNumber">Número de teléfono del apoderado</label>
                <input type="number" class="form-control" id="parentNumber" placeholder="+569" #parentNumber>
              </div>
              <div class="form-group">
                <label for="parent">Apoderado</label>
                <input type="text" class="form-control" id="parent" placeholder="Nombre del apoderado" #parent>
              </div>
              <div class="form-group">
                <label for="establishment">Establecimiento</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" #establishment>
                    <option selected>Seleccione un establecimiento</option>
                    <option *ngFor="let establishment of establishments" [value]="establishment.id">{{establishment.nombre}}</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="studentForm(rut.value, name.value, surname.value, phoneNumber.value, email.value, dateOfBirth.value, grade.value, address.value, parentNumber.value, parent.value, establishment.value, modal)">Crear</button>
      <button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close()">Cancelar</button>
    </div>
  </div>
</ng-template>
<!-- Modal Ends -->