<!-- <div class="container-lg-10" style="display: flex; align-items: center; justify-content: center;">
    <div class="col-lg-10 grid-margin stretch-card"> -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><b>Ayudantes por ciclo</b></h4>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    </div>
                    <select class="custom-select" id="cycle" (change)="getCycle($event.target.value)" [(ngModel)]="cycle.id" style="width: 100px;">
                        <option *ngFor="let cycle of cycles" [value]="cycle.id">
                            {{cycle.nombre}}</option>
                    </select>
                </div>
        
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped" style="text-align: center;">
                        <thead class="table table-bordered">
                            <tr>
                                <th>
                                    <b>RUT</b>
                                </th>
                                <th>
                                    <b>Nombre</b>
                                </th>
                                <th>
                                    <b>Apellidos</b>
                                </th>
                                <th>
                                    <b>Email</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table table-bordered">
                            <tr *ngFor="let assistant of assistants">
                                <td>
                                    {{assistant.rut}}
                                </td>
                                <td>
                                    {{assistant.nombre}}
                                </td>
                                <td>
                                    {{assistant.apellidos}}
                                </td>
                                <td>
                                    {{assistant.email}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!-- </div>
</div> -->

